@if (this.settingsService.showAuctions && this.auctions.length > 0) {
  <div class="auctions-ctn">
    <div class="auction-title">Auctions</div>
    @for (auction of this.auctions; track auction) {
      <div>
        <div class="auction-card" (click)="this.navigate(auction.url)">
          <div class="auction-name">{{ auction.name }}</div>
          <div class="auction-service">{{ auction.service }}</div>
          <div class="auction-details">
            @if (auction.startDate) {
              <span>Starts: {{ auction.startDate }}</span>
            }
            @if (auction.internetBidding) {
              <span> | Ends: {{ auction.endDate }}</span>
            }
            @if (auction.note) {
              <span> | Note: {{ auction.note }}</span>
            }
            @if (auction.internetBidding) {
              <div>
                <span>ONLINE</span>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
}

