<div class="sport-ctn"
     *ngIf="shouldShow() && gamesPerDate?.games?.length > 0">
  <div class="sport-title">{{this.isBasketball ? 'Basketball' : 'Football'}}</div>
  <div class="sport-game-ctn">
    <span class="date-label">{{gamesPerDate.date}}</span>
    <span *ngFor="let game of gamesPerDate.games">
      <span class="game-label">
        <div (click)="imgClick(game, false)" class="cursor team">
          <!--                  <span class="at-label column" *ngIf="game.opponentImageLink">-->
          <!--                    <img src="{{game.opponentImageLink}}" alt="Visiting Team Image" (click)="imgClick(game, false)">-->
          <!--                  </span>-->
          <span class="away-label column right">{{game.opponent}}</span>
        </div>
        <span class="at-label column">{{atSymbol}}</span>
        <div (click)="imgClick(game)" class="cursor team">
          <!--                  <span class="at-label column" *ngIf="game.homeImageLink" (click)="imgClick(game)">-->
          <!--                    <img src="{{game.homeImageLink}}" alt="Home Team Image">-->
          <!--                  </span>-->
          <span class="home-label column">{{game.home}}</span>
        </div>
        <span class="time-label column">{{this.liveTime(game.time)}}</span>
      </span>
    </span>
  </div>
</div>
