<div class="sport-ctn"
     *ngIf="shouldShow() && gamesPerDate?.games?.length > 0">
  <div class="sport-title">{{this.isBasketball ? 'Basketball' : 'Football'}}</div>
  <div class="sport-game-ctn">
    <span class="date-label">{{gamesPerDate.date}}</span>
    <div class="game-row" *ngFor="let game of gamesPerDate.games">
      <!--                  <span class="at-label column" *ngIf="game.opponentImageLink">-->
          <!--                    <img src="{{game.opponentImageLink}}" alt="Visiting Team Image" (click)="imgClick(game, false)">-->
          <!--                  </span>-->
      <div class="column away-label right" (click)="imgClick(game, false)">{{game.opponent}}</div>
      <div class="column at-label">@</div>
       <!--                  <span class="at-label column" *ngIf="game.homeImageLink" (click)="imgClick(game)">-->
          <!--                    <img src="{{game.homeImageLink}}" alt="Home Team Image">-->
          <!--                  </span>-->
      <div class="column home-label left" (click)="imgClick(game)">{{game.home}}</div>
      <div class="column time-label">{{this.liveTime(game.time)}}</div>
    </div>
  </div>
</div>