nav {
  float: left;
  width: 100%;
}

.nav-bar-bar {
  height: 50px;
}

.nav-bar-link {
  margin: 2px;
  padding: 4px 8px;
  border: black;
  border-radius: 8px;
  font-size: large;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--blue-color-80);
  }
}

.nav-bar-div {
  display: flex;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.shortened {
  display: none;
}

.first-header-row,
.second-header-row {
  display: flex;
}

@media screen and (max-width: 750px) {
  .lengthened {
    display: none;
  }

  .shortened {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .nav-bar-div {
    flex-direction: column;
  }

  .nav-bar-link {
    margin: 5px;
  }
}