<div class="sport-ctn media-search">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="expanded = true"
      (closed)="close()"
      class="expansion"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            Media Search
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="search">
        <input type="text" (keyup.enter)="search()" [formControl]="control">
        <mat-icon (click)="search()">search</mat-icon>
      </div>
      <div id="result-container" *ngIf="searchResults?.length > 0 || hasSearched || hasError">
        <div class="results" *ngFor="let result of searchResults">
          <p>{{result}}</p>
        </div>
        <div class="results" *ngIf="searchResults?.length === 0 && hasSearched">
          <p>No Results</p>
        </div>

        <div class="results error" *ngIf="hasError">
          <p>Error Occurred</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
