<div class="sport-ctn media-search">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="expanded = true; refreshed = false"
      (closed)="close()"
      class="expansion"
      >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="media-search-title">
            Media Search
            <div class="refresh-media">
              <mat-icon (click)="refresh($event)">refresh</mat-icon>
              @if (refreshed) {
                <div class="results">
                  <p>Refreshed</p>
                </div>
              }
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="search-ctn">
        <div class="search">
          <input type="text" (keyup.enter)="search()" [formControl]="control">
          <mat-icon (click)="search()">search</mat-icon>
        </div>
        @if (searchResults?.length > 0 || hasSearched || hasError) {
          <div id="result-container">
            @if (searchResults?.length > 0) {
              <div class="center">
                <p class="bold">{{searchResults.length}} Result(s)</p>
              </div>
            }
            @for (result of searchResults; track result) {
              <div class="results">
                <p>{{result}}</p>
              </div>
            }
            @if (searchResults?.length === 0 && hasSearched) {
              <div class="results">
                <p>No Results</p>
              </div>
            }
            @if (hasError) {
              <div class="results error">
                <p>Error Occurred</p>
              </div>
            }
          </div>
        }
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
