@import '../../../styles.scss';

.results {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
}

input {
  width: 200px;
}

p {
  margin: 0 5px 0 5px;
}

#result-container {
  border: 2px solid grey;
  margin-top: 10px;
  width: fit-content;
}

.expansion {
  background-color: #3AAFA9 !important;
}

mat-accordion {
  width: 40vw;
}

.media-search {
  align-items: center;
  margin: 20px 0 5px 0;
}

.media-search-title {
  display: flex;
  align-items: center;
  width: 100%;
}

.refresh-media {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  mat-accordion {
    width: 70vw;
  }
}

@media screen and (max-width: 450px) {
  mat-accordion {
    width: 85vw;
  }
}

@media screen and (max-width: 350px) {
  mat-accordion {
    width: 96vw;
  }
}