@import '../../../styles.scss';

.header-div {
  text-align: center;
  margin-bottom: 50px;
}

[data-header-title] {
  font-size: xx-large;
  padding: 5px;
}

nav {
  float: left;
  width: 100%;
}

.nav-bar-bar {
  height: 50px;
}

.nav-bar-link {
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #302f2f;
  background-color: #056e60bb; 
  padding: 6px 10px; 
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for pop-out */
  transition: transform 0.2s, box-shadow 0.2s;
}

.nav-bar-link:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); 
  transform: scale(1.05); 
  background-color: #034f49; 
}

a {
  text-decoration: underline;
}

.shortened {
  display: none;
}

.first-link-column, .second-link-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.first-link-column {
  width: 238px;
}

#link-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between the two columns */
}

@media (max-width: 750px) {
  .lengthened {
    display: none;
  }

  .shortened {
    display: block;
  }

  #link-container {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center align for mobile */
    gap: 15px; /* Adjust spacing for readability */
  }

  .nav-bar-link {
    font-size: medium; /* Adjust size for smaller screens */
    padding: 5px 8px; /* Compact padding for mobile */
  }
}
