<div>
  <div class="header-div">
    <header data-header-title>Links</header>
  </div>

  <div class="first-link-column lengthened">
    <a mat-tab-link mat-theme="accent" (click)="homeAssistant()" class="nav-bar-link lengthened">Home Assistant</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://my.bankofmissouri.com/login')" class="nav-bar-link lengthened">Bank of Missouri</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.myaccountaccess.com/onlineCard/login.do')" class="nav-bar-link lengthened">Elan</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.chase.com/business/login-emob')" class="nav-bar-link lengthened">Chase</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://caaid.att.com/isam/sps/static/signinRedirect.html')" class="nav-bar-link lengthened">AT&T</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.spectrum.net/billing')" class="nav-bar-link lengthened">Spectrum</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.troweprice.com/workplace/en/login.html?pdurl=/rws/account/participant/home/overview.otc')" class="nav-bar-link lengthened">T. Price (GS 401k)</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://ownyourfuture.vanguard.com/home/login#/')" class="nav-bar-link lengthened">Vanguard (Vizient 401k)</a>
  </div>

  <div class="first-link-column shortened">
    <a mat-tab-link mat-theme="accent" (click)="homeAssistant()" class="nav-bar-link shortened">Assistant</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.myaccountaccess.com/onlineCard/login.do')" class="nav-bar-link shortened">Elan</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://my.bankofmissouri.com/login')" class="nav-bar-link shortened">Bank of MO</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.chase.com/business/login-emob')" class="nav-bar-link shortened">Chase</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://caaid.att.com/isam/sps/static/signinRedirect.html')" class="nav-bar-link shortened">AT&T</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.spectrum.net/billing')" class="nav-bar-link shortened">Spectrum</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://www.troweprice.com/workplace/en/login.html?pdurl=/rws/account/participant/home/overview.otc')" class="nav-bar-link shortened">T. Price</a>
    <a mat-tab-link mat-theme="accent" (click)="urlNav('https://ownyourfuture.vanguard.com/home/login#/')" class="nav-bar-link shortened">Vanguard</a>
  </div>

  <div class="second-link-column">

  </div>
</div>