<div>
  <div class="header-div">
    <header data-header-title>Matches</header>
  </div>

  <div class="center">
    <mat-form-field class="form-field">
      <mat-label class="mat-label">Search</mat-label>
      <div class="center input">
        <input [formControl]="searchControl" data-search-input matInput type="text">
        <div class="center">
          <mat-icon (click)="this.matchService.search(this.searchControl.value)">search</mat-icon>
        </div>
      </div>
    </mat-form-field>
  </div>

  <app-match-table></app-match-table>
  
</div>