<div>
  <div class="header-div">
    <header data-header-title>{{this.settingsService.title}}</header>
  </div>

  <app-media-search-widget></app-media-search-widget>

  <span id="gdq-banner" (click)="gdqClick()">
    <div [ngStyle]="gdqHighlight() && {'background-color': 'gold'}" id="gdq-highlight">
      <div class="gdq-div" *ngFor="let name of this.gdq.name; let i = index">
        <p id="gdq-name">{{this.gdq.name[i]}}</p>
        <p>{{this.gdq.dates[i]}}</p>
      </div>     
    </div>
  </span>

  <div data-content-div>
    <app-sport-widget [gamesPerDate]="basketball"></app-sport-widget>
    <app-sport-widget [gamesPerDate]="football" [isBasketball]="false"></app-sport-widget>
    <app-mma-widget [fightCard]="mma"></app-mma-widget>
  </div>

  <span class="refresh-count">Refresh count: {{this.refreshCount}}</span>
</div>