@import '../../../styles.scss';

.header-div {
  text-align: center;
}

[data-header-title] {
  font-size: xx-large;
  padding: 5px;
}

[data-content-div] {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.refresh-count {
  margin-right: 3vw;
  margin-bottom: 3vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
  [data-content-div] {
    flex-direction: column;;
  }

  app-sport-widget, app-mma-widget {
    margin-bottom: 20px;
  }
}