@import '../../../styles.scss';

.header-div {
  text-align: center;
}

[data-header-title] {
  font-size: xx-large;
  padding: 5px;
}

p {
  height: 20px;
}

#gdq-banner {
  display: flex;
  width: 75%;
  background-color: #056e60bb; 
  color: #302f2f;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for pop-out effect */
  pointer-events: auto;
  text-align: center; 
  justify-content: center;
  cursor: pointer;
}

.gdq-banner-wrapper {
  display: flex;
  justify-content: center;
  padding: 16px;
}

#gdq-highlight {
  padding: 6px;
  border-radius: 6px;
}

.gdq-div {
  margin: 8px 0; /* Add spacing between entries */
}

#gdq-name {
  font-size: 1.2rem;
  font-weight: bold;
}

[data-content-div] {
  display: flex;
  justify-content: space-around;
}

.refresh-count-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%; 
  display: flex;
  justify-content: flex-end;
  padding: 1rem 3vw; 
  pointer-events: none;
}

.refresh-count {
  background-color: #056e60bb; 
  color: #302f2f;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto; 
  transition: transform 0.2s, box-shadow 0.2s;
}

.home-ctn {
  padding-bottom: 4rem;
}

app-sport-widget,
app-mma-widget {
  min-width: 300px;
  margin: 0px;
}

@media (max-width: 1100px) {
  [data-content-div] {
    flex-direction: column;
    justify-content: center;
  }

  app-sport-widget,
  app-mma-widget {
    margin-bottom: 20px;
  }
}  

@media (max-width: 768px) {
  #gdq-banner {
    width: 90%; /* Adjust width for smaller screens */
    font-size: 0.9rem; /* Smaller font size */
    padding: 12px; /* Reduce padding */
  }

  .refresh-count {
    display: none;
  }
}