<div>
  <div class="header-div">
    <header data-header-title>Settings</header>
  </div>

  <div data-settings-input>
    <!-- TITLE  -->
    <div class="settings-value-ctn">
      <div data-title-label class="settings-value-label">Title</div>
      <mat-form-field class="settings-value-form-field">
        <input matInput data-title
               type="text"
               rows="1"
               [formControl]="titleControl"
        >
        <mat-error data-basic-error *ngIf="!titleControl.valid">
          Title is required
        </mat-error>
      </mat-form-field>
    </div>
    <!-- REFRESH RATE  -->
    <div class="settings-value-ctn">
      <div data-refresh-rate-input-label class="settings-value-label">Refresh Rate (min)</div>
      <mat-form-field class="settings-value-form-field">
        <input matInput data-refresh-rate-input
               type="number"
               rows="1"
               [formControl]="refreshRateControl"
        >
        <mat-error data-basic-error *ngIf="!refreshRateControl.hasError('required')">
          Refresh Rate is required
        </mat-error>
        <mat-error data-max-error *ngIf="!refreshRateControl.hasError('max')">
          Refresh Rate cannot exceed 1000
        </mat-error>
      </mat-form-field>
    </div>

    <!-- show basketball?  -->
    <app-yes-no-dropdown [control]="showBasketballControl"
                         [htmlId]="'show-basketball'"
                         [name]="'Show Basketball Games'"
    ></app-yes-no-dropdown>
    <!-- show football?  -->
    <app-yes-no-dropdown [control]="showFootballControl"
                         [htmlId]="'show-football'"
                         [name]="'Show Football Games'"
    ></app-yes-no-dropdown>
    <!-- show mma?  -->
    <app-yes-no-dropdown [control]="showMmaControl"
                         [htmlId]="'show-mma'"
                         [name]="'Show MMA Fights'"
    ></app-yes-no-dropdown>
    <!-- which basketball?  -->
    <app-yes-no-dropdown [control]="whichBasketballControl"
                         [htmlId]="'which-basketball'"
                         [yesOption]="this.settingsService.TODAY"
                         [noOption]="this.settingsService.UPCOMING"
                         [name]="'Which Basketball Games'"
    ></app-yes-no-dropdown>
    <!-- which football?  -->
    <app-yes-no-dropdown [control]="whichFootballControl"
                         [htmlId]="'which-football'"
                         [yesOption]="this.settingsService.TODAY"
                         [noOption]="this.settingsService.UPCOMING"
                         [name]="'Which Football Games'"
    ></app-yes-no-dropdown>
    <!-- which mma?  -->
    <app-yes-no-dropdown [control]="whichMmaControl"
                         [htmlId]="'which-mma'"
                         [yesOption]="this.settingsService.TODAY"
                         [noOption]="this.settingsService.UPCOMING"
                         [name]="'Which MMA Fights'"
    ></app-yes-no-dropdown>
    <!-- COLOR  -->
    <div class="dropdown-ctn">
      <div data-dropdown-label class="dropdown__label">
        Color - *Applies Immediately
      </div>
      <div class="dropdown__data">
        <mat-form-field class="dropdown-form-field">
          <mat-label>Select Value</mat-label>
          <mat-select [formControl]="colorControl" (selectionChange)="setColor()"
                      [ngStyle]="{'background-color': getBackgroundColor(this.colorControl.value)}">
            <mat-option *ngFor="let color of this.colors" data-dropdown-option [value]="color.value"
                        [ngStyle]="{'background-color': getBackgroundColor(color.value)}"
            >
              {{color.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button data-button-apply
            (click)="applyToSettings()"
            [disabled]="!this.settingsFormGroup.valid"
            class="apply-button">Apply
    </button>
    <div>
      <button data-button-reset-everything
              (click)="resetEverything()"
              class="reset-button">Reset Everything
      </button>
    </div>
  </div>
</div>
